extends ./templates/layout.pug

mixin booth(data, num)
    li.gridder-list(data-griddercontent="#content"+num)
        if data.thumb
            img.booth(src=data.thumb)
        else
            img.booth(src="https://placekitten.com/500/400")
    div.gridder-content(id="content"+num)
        div(style="background-color:yellow;")
            div.col-sm-8#boothinfo
                div
                    h3: b #{data.boothname}
                    h4: i #{data.vendorname}
                    p !{data.description}
                    if data.venue
                        p: b @ #{data.venue}
                    p: b !{data.openinghours}
                    if data.link
                        p Link: #{data.link}
                div
                    if data.imgs
                        for link in data.imgs
                            div.booththumb: img(src=link onClick="changeToBigImg(\" " + link + " \")")
            div.col-sm-4#boothimg(style="overflow:hidden")
                img(src=data.imgs[0])


block content

    div.main
        <!-- Gridder navigation -->
        ul.gridder
            each val, index in data
                +booth(val, index)


block scripts
    link(href="/css/jquery.gridder.min.css" rel="stylesheet")
    script(src="js/jquery.gridder.min.js")
    script(src="js/gridderFunction.js")
    script(src="js/boothThumb.js")