extends ./templates/layout.pug 

mixin perf(data)
    div.perf-header(style="background-image: url("+data.header+"); background-repeat: no-repeat; background-size: 50% auto; height: 100px;" )
        h3(style="text-align:right") #{data.title}
        p(style="text-align:right") #{data.performer}
        //img(src="https://placekitten.com/500/400" style="width:100%;")
    div.perf-content
        div.container-fluid(style="background-color:yellow;")
            div.col-md-8#boothinfo
                div.col-md-12
                    p !{data.description}
                    if data.venue 
                        p Venue: #{data.venue}
                    p Date: #{data.timing}
                div.col-md-12(style="height:100px; margin: 10px 0px;")
                    if data.imgs
                        for link in data.imgs
                            div.booththumb: img(src=link onClick="changeToBigImg(\" " + link + " \")")
            div.col-md-4#boothimg(style="overflow:hidden")
                img(src=data.imgs[0] style="width:100%")        

block content
    div.main
        div#accordion
            each val, index in data
                +perf(val)
block scripts
    link(href="/css/jquery-ui.min.css" rel="stylesheet")
    script(src="js/jquery-ui.js")
    script.
        $('#accordion').accordion({
            header: "div.perf-header",
            heightStyle: "content",
            icons: false
        })

        function changeToBigImg(link) {
            $('.ui-accordion-content-active > div > #boothimg > img').attr("src", link);
        }
