extends ./templates/layout.pug 

mixin perf(data)
    div.perf-header(style="background-image: url(https://placekitten.com/500/400); background-repeat: no-repeat; background-size: 50% auto; height: 100px;" )
        h3(style="text-align:right") #{data.title}
        p(style="text-align:right") #{data.performer}
        //img(src="https://placekitten.com/500/400" style="width:100%;")
    div.perf-content
        p=data.description
        p="Venue: " + data.Venue
        p="Date: " + data.timing

block content
    div.main
        div#accordion
            each val, index in data
                +perf(val)
block scripts
    link(href="/css/jquery-ui.min.css" rel="stylesheet")
    script(src="js/jquery-ui.js")
    script.
        $('#accordion').accordion({
            header: "div.perf-header",
            heightStyle: "content",
            icons: false
        })
