extends ./templates/layout.pug 

block content 
	div.main
		div.container-fluid
			div.col-sm-5.col-sm-offset-1
				div#desc
					h2 #{description}
				br 
				div#details
					h4#timing-and-venue: b #{timing} at #{venue}
					h4#fee: b Workshop fee: $#{fee}
					h4#size: b Limited slots available to first #{size} participants
				br 
				br
				br
				div: a#backbutton(href="/#workshops") < Back to Main Menu
			