extends ./templates/layout.pug 

block content 
    div.main
        div.container-fluid
            div.col-sm-10.col-sm-offset-1
                br
                br
                div#desc
                    h4 #{description}
                br 
                div#details
                    h4#timing-and-venue: b #{timing} at #{venue}
                    if timing2 
                        h4#timing2-and-venue2: b #{timing2} at #{venue2}
                    h4#fee: b Workshop fee: $#{fee}
                    if size
                        h4#size: b Limited slots available to first #{size} participants
                br 
                br
                br
                div: a#backbutton(href="/#workshops") < Back to Main Menu
            